 :root {
    --color-body: hsl(00, 0%, 85%);
    --color-bodyBTN_ILU: hsl(0, 0%, 5%);
    --color-darkBTN: hsl(240, 30%, 5%);
    --color-scrollBall: #ffffff;
    --color-colorMoon: hsl(40, 90%, 50%);
    --color-colorSun: hsl(25, 90%, 50%);
    --color-colorBodyConversor: hsl(00, 0%, 75%);
    --color-contramedidas: hsl(0, 0%, 8%);
    --color-cordeFundoBandeira: hsl(00, 0%, 80%);
    --color-colorResultado: #737476;
    --color-colorTexto: aliceblue;
    --color-footer: hsl(0, 0%, 15%);
    --color-colorHover: hsl(0, 0%, 100%);
 }