 :root { 
    --color-colorBody: hsl(240, 30%, 5%);
    --color-BTNLight: hsl(00, 0%, 74%);
    --color-bodyBTN_ILU: hsl(0, 0%, 5%);
    --color-scrollBall: #ffffff;
    --color-colorMoon: hsl(40, 90%, 50%);
    --color-colorSun: hsl(25, 90%, 50%);
    --color-colorBodyConversor: hsl(00, 0%, 66%);
    --color-contramedidas: hsl(0, 0%, 8%);
    --color-cordeFundoBandeira: hsl(00, 0%, 80%);
    --color-colorResultado: hsl(0, 2%, 22%);
    --color-colorTexto: hsl(0, 0%, 87%);
    --colot-figureCaption: hsl(257, 50%, 40%);
    --color-colorTextQSM: rgb(206, 206, 205);
    --color-colorBodyQSM: hsl(240, 50%, 9%);
    --color-footer: hsl(0, 0%, 7%);
    --color-colorHover: hsl(0, 0%, 100%);
    --color-bodyConteudo: hsl(240, 50%, 9%);
    --color-corTextoPreto: #111111;
    --color-linkAnimation: hsl(30, 90%, 50%);
    --color-colorTeam: hsl(226, 36%, 15%);
 }